.ShowData_Style {
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1rem;
}

thead tr{
    margin: 20%;
}

.table {
    margin-top: 1rem;
    border-color: #004c97;
    border-radius: .5rem;
    --bs-table-bg: white;
    color: #004c97;
}

.Title {
    text-align: left;
}

.row {
    padding: .5rem;
}

.col {
    padding: .5rem;
    background-color: #004c97;
    border-radius: .5rem;
    margin: .5rem;
}

.Spacer {
    --bs-table-bg: #004c97;
}

.Col-left {
    text-align: left;
}

.neto {
    background-color: #004c97;
    border-radius: .5rem;
    padding: 1rem;
}

.First-col {
    align-items: center;
}

.Second-col {
    width: 3%;
}

.Third-col {
    width: 20%;
}

.Fourth-col {
    width: 20%;
}

@media Screen and (max-width: 833px) {
    .ShowData_Style {
        margin-left: 10%;
        margin-right: 10%;
        padding: 1rem;
    }

    .accordion-button {
        font-size: 1rem;
        color: #ffffff;
        height: 100px;
    }
    
    .accordion-button[aria-expanded = "true"] {
        font-size: 1rem;
        color: #ffffff;
    }
}

@media Screen and (max-width: 530px) {
    .ShowData_Style {
        margin-left: 5%;
        margin-right: 5%;
        padding: 1rem;
    }
}

@media Screen and (max-width: 476px) {
    .accordion-button {
        font-size: 1rem;
        color: #ffffff;
        height: 110px;
    }
    
    .accordion-button[aria-expanded = "true"] {
        font-size: 1rem;
        color: #ffffff;
    }
}