.Calculator {
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: .5rem;
}

.btn-group {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    padding: .5rem;
}

.col {
    padding: .5rem;
    background-color: #004c97;
    border-radius: .5rem;
    margin: .5rem;
}

.select {
    padding: .2rem;
}

h4 { 
    font-size: 1.2rem;
    color: #ffffff;
}

.d-grid {
    margin: 1rem;
}

.btn-primary {
    --bs-btn-bg: #004c97;
}

.disOpt {
    color: #fff;
    font-weight: 100;
    background-color: #004c97;
}

@media Screen and (max-width: 833px) {
    .Calculator {
        margin-left: 10%;
        margin-right: 10%;
        padding: 1rem;
    }
}

@media Screen and (max-width: 530px) {
    .Calculator {
        margin-left: 5%;
        margin-right: 5%;
        padding: 1rem;
    }
}