.Extras-style {
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: .5rem;
}

.Extras-Title {
    color: black;
}

.Sub-h2{
    color: white;
}

.results {
    background-color: #004c97;
    border-radius: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

@media Screen and (max-width: 833px) {
    .ShowData_Style {
        margin-left: 10%;
        margin-right: 10%;
        padding: 1rem;
    }

    .accordion-button {
        font-size: 1rem;
        color: #ffffff;
        height: 100px;
    }
    
    .accordion-button[aria-expanded = "true"] {
        font-size: 1rem;
        color: #ffffff;
    }
}

@media Screen and (max-width: 530px) {
    .ShowData_Style {
        margin-left: 5%;
        margin-right: 5%;
        padding: 1rem;
    }
}

@media Screen and (max-width: 476px) {
    .accordion-button {
        font-size: 1rem;
        color: #ffffff;
        height: 110px;
    }
    
    .accordion-button[aria-expanded = "true"] {
        font-size: 1rem;
        color: #ffffff;
    }
}